**/.terraform/*

*.tfstate
*.tfstate.*

crash.log

*.auto.tfvars
*.tfvars

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraformrc
terraform.rc
.terraform.lock.hcl

distribution-config.json
backend.conf